@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat), Arial, sans-serif; /* Apply Montserrat */
  margin: 0;
  padding: 0;
  background-color: #161a0c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* this is used for padding on smalled screens */
@media (max-width: 600px) {
  .MuiContainer-root {
    padding-left: 12px;
    padding-right: 12px;
  }
}

html {
  /* Base font size (you can adjust this as needed) */
  font-size: 16px;
}

h1 {
  font-size: clamp(
    3rem,
    5vw + 1rem,
    5.6rem
  ); /* 90px on large, scales on smaller */
}

h2 {
  font-size: clamp(2rem, 4vw + 0.5rem, 4.6rem); /* Around 75px on large */
}

h3 {
  font-size: clamp(1.75rem, 3vw + 0.5rem, 3.75rem); /* Around 60px on large */
}

h4 {
  font-size: clamp(1.5rem, 2.5vw + 0.5rem, 3.12rem); /* Around 50px on large */
}

h5 {
  font-size: clamp(1.25rem, 2vw + 0.5rem, 2.25rem); /* Around 46px on large */
}

h6 {
  font-size: clamp(1.125rem, 1.5vw + 0.5rem, 2rem); /* 44px on large */
}

p {
  font-size: clamp(1rem, 1vw + 0.25rem, 1.125rem); /* Around 18px on large */
}

.glassEffect {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.backgroundImageContainer {
  height: 100vh; /* Full viewport height */
  background-image: url("../../public/asset/about-main-img.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
