@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat), Arial, sans-serif; /* Apply Montserrat */
  margin: 0;
  padding: 0;
  background-color: #192128  ;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* this is used for padding on smalled screens */
@media (max-width: 600px) {
  .MuiContainer-root {
    padding-left: 12px;
    padding-right: 12px;
  }
}

html {
  /* Base font size (you can adjust this as needed) */
  font-size: 16px;
}

h1 {
  font-size: clamp(3rem, 5vw + 1rem, 5.6rem); /* 90px on large, scales on smaller */
}

h2 {
  font-size: clamp(2rem, 4vw + 0.5rem, 4.6rem); /* Around 75px on large */
}

h3 {
  font-size: clamp(1.75rem, 3vw + 0.5rem, 3.75rem); /* Around 60px on large */
}

h4 {
  font-size: clamp(1.5rem, 2.5vw + 0.5rem, 3.12rem); /* Around 50px on large */
}

h5 {
  font-size: clamp(1.25rem, 2vw + 0.5rem, 2.25rem); /* Around 46px on large */
}

h6 {
  font-size: clamp(1.125rem, 1.5vw + 0.5rem, 2rem); /* 44px on large */
}

p {
  font-size: clamp(1rem, 1vw + 0.25rem, 1.125rem); /* Around 18px on large */
}

.glassEffect {
  background: rgba(255,255,255,0.5);
-webkit-backdrop-filter: blur(3px);
backdrop-filter: blur(3px);
border: 1px solid rgba(255,255,255,0.25);
}

.btn_main_wrap {
  background-color: #afe57f;
  color: #172806;
  cursor: pointer;
  border-radius: .4rem;
  min-width: 11.8rem;
  padding: 1.1rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1;
  transition: filter .2s;
  display: inline-block;
}
.btn_main_list {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.coolBeans {
  background-color: #afe57f; /* Updated background color */
  color: #172806; /* Updated text color */
  border: 2px solid #172806; /* Updated border color to match text */
  border-radius: 0.4rem; /* Updated border radius */
  font-size: 1.1rem; /* Updated font size */
  font-weight: 600; /* Updated font weight */
  line-height: 1; /* Added line-height */
  overflow: hidden;
  padding: 1.1rem 1.5rem; /* Updated padding */
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out, filter 0.2s; /* Added filter transition */
  will-change: transform;
  z-index: 0;
  min-width: 11.8rem; /* Updated minimum width */
}

.coolBeans::after {
  background-color: #edefec; /* Updated background color */
  border-radius: 0.4rem; /* Updated border radius */
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.coolBeans:hover::after {
  transform: translate(0, 0);
}

.coolBeans:hover {
  border: 1px solid transparent;
  color: #172806; /* Maintained text color */
  transform: scale(1.05);
  will-change: transform;
  filter: brightness(1.1); /* Added hover effect to slightly brighten */
}

.coolBeanSecond {
  background-color: #192128; /* Updated background color */
  color: #E7E5E4; /* Updated text color */
  border: 1px solid #172806; /* Updated border color to match text */
  border-radius: 5rem; /* Updated border radius */
  font-size: 1.2rem; /* Updated font size */
  font-weight: 500; /* Updated font weight */
  line-height: 1; /* Added line-height */
  overflow: hidden;
  padding: 5px 5px 5px  2.5rem; /* Updated padding */
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out, filter 0.2s; /* Added filter transition */
  will-change: transform;
  z-index: 0;
  min-width: 11.8rem; /* Updated minimum width */
  margin: 1rem 0rem 1rem 0rem; /* Added margin */
}

.coolBeanSecond::after {
  background-color: #E7E5E4; /* Updated background color */
  border-radius: 0.4rem; /* Updated border radius */
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.coolBeanSecond:hover::after {
  transform: translate(0, 0);
}

.coolBeanSecond:hover {
  border: 1px solid transparent;
  color: #172806; /* Maintained text color */
  transform: scale(1.05);
  will-change: transform;
  filter: brightness(1.1); /* Added hover effect to slightly brighten */
}

.good-glass {
/* From https://css.glass */
background: rgba(255, 255, 255, 0.91);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(17.6px);
-webkit-backdrop-filter: blur(17.6px);
border: 1px solid rgba(255, 255, 255, 0.37);
}